
.about {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   margin-top: 13rem; 
}

.header {
   width: fit-content;
}

.info {
   font-size: 2.2rem; 
}

.info a,
.info a:visited,
.info a:active {
   text-decoration: none;
   font-style: italic;
   color: black; 
   border-bottom: 2px solid rgb(207, 207, 207); 
   /* transition: all .1s; */
}

.info a:hover {
   color: var(--color-turquoise);
   border-bottom: none; 
}

