
.landing {
   height: 70rem;
   background-color: black;
   color: white; 
}

.title {
   height: 100%; 
   display: flex; 
   flex-direction: column;
   justify-content: center;
   /* max-width: 50%; */
   
}

.heading h1 {
   font-size: 7.5rem;
   line-height: 8.5rem;
   font-weight: 500; 
   /* letter-spacing: .5rem; */
   /* margin-right: 6rem; */
}

.heading h1:not(:first-child) {
   /* font-size: 6rem; */
   /* margin-bottom: 2rem; */
   /* font-weight: 500; */
   /* color: white; */
   font-style: italic;
}

.heading {
   padding: 0 15%;
   padding-top: 10rem;
}