:root {
  --font-header: 'Ubuntu', sans-serif;
  --font-text: 'Open Sans', sans-serif; 
  --color-pink: #a40064;
  --color-yellow: #E3D3AC;
  --color-light-blue: #d5f2ff;
  --color-dark-blue: #599FB8;
  --color-purple: #C9B4DF;
  --color-olive: #8FBF9A;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
}

p {
  font-family: var(--font-text);
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  /* height: 1500px;  */
}

/* Utility Classes  */

.container {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 2rem;
}


/* .preload *{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
} */