:root {
  --font-header: 'Ubuntu', sans-serif;
  --font-text: 'Open Sans', sans-serif; 
  --color-pink: #a40064;
  --color-turquoise: #008a7e;
  --color-light-blue: #d5f2ff;
  --color-dark-blue: #083a74;
  --color-purple: #470092;
  --color-dark-green: #005714;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-header);
}

p {
  font-family: var(--font-text);
}


*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  /* height: 1500px;  */
}

/* Utility Classes  */

.container {
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 2rem;
}

.divider {
  margin-top: 7rem;
  background-color: rgb(219, 219, 219);
  border: 0;
  height: 1px; 
}

/* .preload *{
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
} */