.card {
   display: flex; 
   border-radius: 5px;
   color: white; 
   /* height: 45rem; */
   overflow: hidden;
}

.info {
   padding: 5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* width: 33%; */
}

.stack {
   margin-bottom: 1rem; 
   color: rgb(214, 214, 214);
   font-size: 1.5rem;
   font-style: italic;
}

.header {
   font-size: 4.8rem;
   font-weight: 500;    
   margin-bottom: 1.5rem; 
}

.caption {
   font-size: 1.5rem; 
   margin-bottom: 2rem;
   line-height: 2.5rem;
}

.images {
   /* width: 63%; */
   display: flex;
   align-items: center;
   /* transform: translateY(2rem); */
}

.image img {
   /* top: 10%;  */
   display: flex; 
   align-items: center;
   width: 110%; 
}

